.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 99;
  width: 183px;
  height: 32px;
}

.header__title {
  display: flex;
  width: 730px;
  height: 500px;
  align-items: center;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 500;
}

.subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
}

.main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  background: #2f80ed;
  width: 568px;
  height: 568px;
  z-index: 0;
}

/*блок description*/
.description {
  margin-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
}

.main-text {
  width: 80%; 
  min-width: 784px;
}

.paragraph {
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
}

.span-accent {
  font-weight: 500;
}

/*блок digits*/
.digits {
  margin-top: 100px;
}

.digits__table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px auto 100px auto;
  width: 1100px;
}

.cell {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-title {
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
}

.section-subtitle {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
}

.block {
  width: 250px;
  margin-bottom: 60px;
}

.heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 500;
}

.text {
  line-height: 1.2;
  font-size: 18px;
}

/*блок feynman*/
.feynman {
  background-color: #f2f2f2;
  /*position: absolute;*/
  background-image: url(/images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 867px;
  height: 637px;
}

.feynman__title {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  width: 648px;
}

.feynman__subtitle {
  width: 1100px;
  margin: 70 auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
}

/*kaufman*/
.kaufman {
  margin-top: 90px;
  overflow: hidden;
}

.kaufman-title {
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  width: 60%;
}

.kaufman-subtitle {
  margin: 0 auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  width: 60%;
}

.block_kaufman {
  width: 200px;
  margin-bottom: 60px;
}

.triangle {
  position: absolute;
  z-index: -10;
  right: -210px;
}

/*блок footer*/
.footer {
  min-height: 350px;
}

.author {
  position: absolute;
  padding-top: 18px;
  padding-bottom: 18px;
  left: 64px;
}

.logo-place-footer {
  display: flex;
  width: 183px;
  height: 32px;
}